@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-family: "Poppins";
}

header {
  background: #ffff;
  padding: 10px;
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333;
}
nav h1 {
  text-transform: uppercase;
  /* letter-spacing: 1em; */
  line-height: 30px;
}

nav h1 div:nth-child(1) {
  font-weight: 800;
  letter-spacing: 1.5px;
}
nav h1 div:nth-child(2) {
  font-weight: 400;
}

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: 250px;
  gap: 30px;
}

main div {
  background: #fff;
  border-radius: 8px;
  border: 16px solid#fff;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .tall {
  grid-row: span 2;
}
main .short {
  grid-row: span 1;
}

@media screen and (max-width: 980px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-top: 20px;
  }

  header nav {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
  }

  nav h1 {
    grid-column: span 4;
    grid-row: 1;
  }
}
